<div class="row" style="height:89vh">
    
    <div class="col-md-6 image image-left d-table" style="height:100%; background-color: rgb(136, 165, 190);">
        <h1 class="align-middle d-table-cell" style="text-align: center;">
            <a routerLink="/films" class="text-light" style="text-decoration: none">Ghibli <br>Films</a>
        </h1>
    </div>
    <div class="col-md-6 image-right image d-table" style="height:100%; background-color: black;">
        <h1 class="align-middle d-table-cell" style="text-align: center;">
            <a routerLink="/people" class="text-light" style="text-decoration: none;">Ghibli <br/>Characters </a>
        </h1>
    </div>
</div>