<div class="container pt-3">
    <button class="btn btn-outline-secondary mr-3" (click)="goBack()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
          </svg>
          Go back
    </button>
    <div class="row">
        <div class="col-md-4 mx-auto justify-content-center">
            
            <div class="well profile bg-light">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-file-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 3a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3zm6 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 11.825 10.623 11 8 11s-4.146.826-5 1.755V13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                </svg>
                <h2>{{person.name}}</h2>
                <hr/>
                <p><strong>Age: </strong> {{person.age}} </p>
                <p><strong>Gender: </strong> {{person.gender}}</p>
                <p><strong>Eye color: </strong> {{person.eye_color}}</p>
                <p><strong>Hair color: </strong> {{person.hair_color}}</p>
                <p><strong>Film: </strong>
                    <span class="tags"><a routerLink="/films/{{film.id}}" style="color:white; text-decoration: none;">{{film.title}}</a></span> 
                </p>           
            </div>   
        </div>              
    </div>
</div>