@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.jumbotron {
    background-image: url("https://lh3.googleusercontent.com/proxy/AVFlGGmmnwVOc0v0tXzu3uC459_bi_HLnOQSkC8E5iAswvm0IUH9RmTObLGopbLjmFgm_8Jyntr26qL4s1ANS-YSEmUsOI_1Tizit3i-U1ACPLLaO-8OZ12irOsxKjHESYc6N9JFvgBa");
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
a.card-link{
    color: #b3958a;
}
a.card-link:hover{
    color: #884f39;
}
.card-body{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin-bottom: 1em;
}
.card-body:hover{
    background-color:rgb(209, 209, 209) ;
}
.card-body p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}